@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
:root {
    --paper: #FAF6F0;
    --paper-2: #F2EAE0;
    --ink: #4a0370;
    --ink-soft: #6e2b84;
    --subtitle: #5b3f64;
    --saffron: #D9784A;
    --saffron-deep: #C15F35;
    --maroon: #6B4E7A;
    --sage: #4E6A78;
    --line: #E1D5D9;
    --gold-line: #D9A578;
    --text: #da6805;
    --night: #211D42;
    --night-2: #332B5C;
    --coral-light: #F0B98A;
     --dark-bg: #F2EAE0;
    --border: oklch(88% .018 80);
    --input: oklch(88% .018 80);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", sans-serif;
}

body{
     background-color: var(--paper);
}

a{
    text-decoration: none;
    color: var(--ink);
}

/* Navigation Bar */

nav{
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    border-bottom: 1px solid var(--line);
    border-radius: 0 0 20px 20px;

}

.hero-icon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-icon{
    width: 50px;
    height: 50px;
}
.hero-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-icon-container p{
    color: var(--subtitle);
    font-size: 14px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--night-2);
    padding: 20px;
    border-radius: 0 0 0 20px;
}

.nav a{
    color: var(--coral-light);
    margin-inline: 5px;
    padding: 5px 10px;
}

.nav a.active{
    background-color: var(--paper);
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--ink-soft);
    font-weight: 600;
}

.nav-contact{
    margin-left: 50px;
}

.nav-links a:hover{
     background-color: var(--paper);
    border-radius: 10px;
    color: var(--ink-soft);
}

/* Header */

header{
    padding-block: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--line);
    padding: 60px 15px;
}

.header-text{
    flex: 0 0 600px;
    width: 600px;
}
.header-text .subtitle{
    color: var(--text);
    margin-bottom: 10px;
    font-size: 12px;
}
.header-text h1{
    color: var(--night);
    margin-bottom: 20px;
}
.header-text p{
    color: var(--night-2);
    margin-bottom: 50px;
}

.header-image{
    height: 450px;
    width: 450px;
    border-radius: 20px;
    overflow: hidden;
}
.header-image img{
    height: 100%;
    width: 100%;
}

.link-btn a{
    border: 1px solid var(--night-2);
    padding: 10px 15px;
    margin-left: 20px;
}
.link-btn a.active{
    background-color: var(--night-2);
    color: var(--coral-light);
}


/* Section */

section{
    padding: 60px 15px;
    border-bottom: 1px solid var(--line);
}

section.active{
    background-color: var(--dark-bg);
}

section h2{
    text-align: center;
    margin-bottom: 40px;
    color: var(--text);
}


/* Banner */
.banner{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Contact add */
.whatsapp{
    background-color: #25D366;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2%;
    right: 5%;
    transform: rotate(45deg);
    
}
.whatsapp>a{
    color: white;
    transform: rotate(-30deg);
}

/* Footer */

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 60px 15px;

    background-color: var(--night-2);
    color: var(--coral-light);
}

footer>div{
    flex: 0 0 350px;
    max-width: 350px;
    font-size: 15px;
}
footer h4, footer h1{
    margin-bottom: 15px;
}

footer a{
    color: var(--text);
    font-size: 18px;
    font-weight: 700;
    font-family: "Fraunces", serif;
}